.footer {
    padding: 50px 10px;
    font-size: 0.95rem;
    line-height: 1.8;
    background-color: #373737;
}

.project-name {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 12px;
}

.footer-info p {
    margin: 0 0 6px 0;
    color: #ddd;
}

.footer-links {
    font-size: 1.8rem;
}

.footer-icon {
    color: #bbb;
    transition: color 0.3s;
}

.footer-icon:hover {
    color: #fff;
}